@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.bg-custom {
  background-color: indigo;
}

.forms {
  padding-top: 20px;
  padding-left: 15px;
  margin: 0;
  overflow: hidden;
}

label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

h2 {
  font-family: "open sans", sans-serif;
  color: #f8f8ff;
  font-weight: 600;
  margin-left: 20px;
}

p {
  width: 75%;
}

input {
  width: 60%;
  font-family: "open sans", sans-serif;
}

table {
  margin-right: 30px;
  font-family: "Open sans", sans-serif;
}

.thead tr {
  color: indigo;
}

input {
  border: 1px solid #f0f0f0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px #e8e8e8;
  -moz-box-shadow: 0px 0px 10px #e8e8e8;
  box-shadow: 0px 0px 10px #e8e8e8;
}

button {
  border: 1px solid #f0f0f0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px #e8e8e8;
  -moz-box-shadow: 0px 0px 10px #e8e8e8;
  box-shadow: 0px 0px 10px #e8e8e8;
}

h6 {
  font-family: "open sans", sans-serif;
}

h6 span {
  font-family: "ubuntu", sans-serif;
  color: indigo;
}

#disclaimer {
  font-family: "open sans", sans-serif;
  background-color: #dc3545;
  width: max-content;
  color: whitesmoke;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
